*{
    margin: 0;
    padding: 0;
    font-family : 'NanumSquareNeo';
}
body {
    padding: 20px;
}
li {
    list-style: none;
    margin : 4px 0;
}
a {
    text-decoration: none;
    color: #000;
}
main {
    display : flex;
    justify-content : space-between;
}
aside {
    width :30%;
    background-color: #F5F5F5;
}
section {
    width: 70%;
}
table tr td {
    padding: 5px;
}
fieldset {
    padding: 20px;
}
input{
    width: 100%;
}
button {
    background-color: lightpink;
    color:#000;
    padding: 10px;
    border-radius: 15%;
}